@model List<WebApplication1.Models.ClienteInfo>
@{
    ViewData["Title"] = "Lista Clientes";
    // I have to delete the @page notation above of @model cause give me an unexpected token in riderJetBrains
}
<br>
<h2>Lista de Clientes</h2>
<a class="btn btn-primary btn-sm" href="/Clientes/Create">New Client</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Fecha de registro</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in  Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Email</td>
                <td>@item.Telefono</td>
                <td>@item.Direccion</td>
                <td>@item.FechaRegistro</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Clientes/Edit/Id=@item.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Clientes/Delete/@item.Id">Eliminar</a>


                </td>
            </tr>
        }

    </tbody>
    
</table>
